<main class="main">
  <div class="container mt-5">
    <div class="row d-flex align-items-center">
      <!-- Coluna do texto -->
      <div class="col-md-6 d-flex flex-column align-items-start">
        <img src="/assets/interacoes/logo.svg" alt="Logo InterAções" class="img-fluid" />
  
        <p class="text-secondary">
          <b>Ação intersetorial</b> em sentido largo é definida como alinhamento de estratégias de intervenção e de recursos entre atores a partir de dois ou mais seletores no interior da esfera pública para realizar objetivos complementares que são relevantes e válidos para todas as partes.
        </p>
  
        <div>
          <p class="text-secondary">Acesse o mapa clicando o botão abaixo</p>
          <a href="#mapa" class="btn btn-primary">
            <i class="fa-solid fa-user"></i>
            Mapa de InterAções
          </a>
        </div>
      </div>
  
      <!-- Coluna da imagem -->
      <div class="col-md-6 text-center">
        <img src="/assets/interacoes/hero-image.svg" alt="Imagem de Interações" class="img-fluid img-responsive-mobile" />
      </div>
    </div>
  </div>
</main>